pillow==8.3.1
scikit-image==0.17.2
scipy
tqdm
urllib3==1.26.6
astropy
astroquery==0.4.3
corner
emcee==3.1.0
h5py~=2.10.0
keras==2.4.3
numdifftools==0.9.40
numpy
joblib==1.0.1
jupyterlab==3.0.16
pytest==6.2.4
pyregion
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator
tensorflow-probability
numba
pytest
tensorflow
corner
dynesty
