pillow
scikit-image
scipy
tqdm
urllib3
astropy
astroquery
corner
emcee~=3
h5py
keras
numpy
joblib
jupyterlab
pytest
pyregion
tensorflow==2.8
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-estimator
tensorflow-probability
numba
pytest
corner
dynesty
sklearn
seaborn
